{% do view.registerAssetBundle("fostercommerce\\tableauconnect\\bundles\\TableauAsset") %}

{% block content %}
<div class="tableau-visualization-container tableau-visualization-container-{{key}}">
</div>

{% endblock %}

{% js %}
const initTableauVisualization_{{key}} = () => {
  const containerDiv = document.querySelector(".tableau-visualization-container-{{key}}")
  let viz

  const onFirstInteractive = e => {
    {% if callbacks.onFirstInteractive is defined %}
    const f = new Function('e', 'args', '{{callbacks.onFirstInteractive}}(e, args)')
    return f(
      e,
      {
        key: '{{key}}',
        container: containerDiv,
      },
    )
    {% endif %}
  }

  const onFirstVizSizeKnown = e => {
    {% if callbacks.onFirstVizSizeKnown is defined %}
    const f = new Function('e', 'args', '{{callbacks.onFirstVizSizeKnown}}(e, args)')
    return f(
      e,
      {
        key: '{{key}}',
        container: containerDiv,
      },
    )
    {% endif %}
  }

  const url = '{{settings.tableauServerUrl}}/{{tableauView|raw}}'

  const options = Object.assign({{options|json_encode()|raw}}, {
    onFirstInteractive,
    onFirstVizSizeKnown,
  })

  viz = new tableau.Viz(containerDiv, url, options)
}

initTableauVisualization_{{key}}()
{% endjs %}
